<div class="container">
  <mat-card>
    <form #userForm="ngForm" (ngSubmit)="save(userForm.value)" class="form-container">
      <mat-card-title>Adicionar Cliente</mat-card-title>
      <mat-card-content class="form-content">
        <mat-form-field>
          <input matInput placeholder="Nome do Cliente" [(ngModel)]="user.name" required name="name" #name >
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Limite de Crédito" [(ngModel)]="user.limit" required name="limit" #limit >
        </mat-form-field>
        <mat-form-field>
          <select matNativeControl placeholder="Risco" [(ngModel)]="user.risk" required name="risk">
            <option value="A" selected>A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="!userForm.form.valid">
          Salvar
        </button>
        <a mat-button routerLink="/user-list">Cancelar</a>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
